*{
    background-color: #24242A;
    margin: 0;
    padding: 0;
}
li a {
    text-decoration: none;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 500px;
    color: honeydew;
}
header{
    justify-content: space-between;
    display: flex;
    padding: 30px 10%;
}
.nav-one{
    list-style: none;
}
.nav-one li{
    display: inline-block;
    padding: 0px 20px;
}
.nav-one li a:hover{
    color: lightseagreen;
}
section{
    color: white;
    padding-top: 20px;
    display: inline-flex;
    align-items: center;
    left: 300px;
    justify-content: space-between;
    padding-left: 90px;
}
h3{
    font-size:32px ;
}
p{
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace;
}
#shona{
    padding: 20px;
    border-radius: 2px white;
    height: 150px;
    width:250px;
    margin: 10px;
    
}
#pet{
    padding: 20px;
    border-radius: 2px white;
    height: 150px;
    width: 250px;
    margin: 10px;
}
#travel{
    padding: 20px;
    border-radius: 2px white;
    height: 150px;
    width: 250px;
    margin: 10px;
}
#web{
    padding: 20px;
    border-radius: 2px white;
    height: 150px;
    width: 250px;
    margin: 12px;
}
h3{
    padding: 8px;
    font-family: Arial, Helvetica, sans-serif;
}
h3 a{
    text-decoration:none ;
    color: aquamarine;
}
h3 a:hover{
    color: white;
}
img{
    height: 150px;
    width: 200px;
    object-fit: cover;
}
footer{
    padding-top: 50px;
    display: inline-flexbox;
    size: 70px;
}