body{
    background-color:#131f33;
}
header{
    justify-content: space-between;
    display: flex;
    padding: 30px 10%;
}

li a{
    text-decoration: none;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 500px;
    color: honeydew;
}
}
h2{
    text-align: center;
    font-size: large;

}
img{
    float: left;
    height: 340px;
    border-radius: 1px black;
    box-shadow: 2px gray;
}
.nav-two{

}